* {
    all: unset;
    font-family: Noto Sans Nerd Font, sans-serif;
}
#bar {
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    margin-right: 4px;
}
#start {

}
#center {

}
#end {

}
.clock {
    margin-top: 2px;
    font-size: 1.2em;
    font-family: Noto Sans Nerd Font, monospace;

}
.launcher {

    margin-bottom: 4px;
}
.launcher .item {
    background-color: #1c1c1c;
    padding: 2px;
    border-radius: 8px;
    margin: 2px;
}

.popup {
    background-color: #1c1c1c;

    border: 2px solid;
    border-color: aqua;
    border-radius: 8px;
    padding: 4px;
}

.popup-launcher .popup-item {
    border-bottom: 1px solid #424242;

}

.popup-item:hover{
    background-color: aqua;
    color: black;
    border-radius: 8px;
}